html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro';
  font-size: 20px;
}
#app {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;

  .timer {
    display: flex;
    justify-content: center;
    .time {
      text-align: center;
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      .digit {
        font-size: 4em;
        font-weight: 300;
      }
      .text {
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: .75em;
        font-weight: 600;
      }
    }
    .adjustments {
      width: 80%;
      justify-content: space-between;
      display: flex;
      i {
        cursor: pointer;
        color: lightslategrey;
      }
    }
    .minus {
      &:hover {
        color: tomato;
      }
    }
    .add {
      &:hover {
        color: #2ecc71;
      }
    }
  }
  .controls {
    display: flex;
    justify-content: center;
    .button {
      margin: 20px;
      cursor: pointer;
    }
  }
  .reset {
    &:hover {
      color: tomato;
    }
  }
}
